
* {
    box-sizing: border-box !important;
}
body {
    
    font-size: 13px;
    font-family: poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}
.col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
}
.titlepage {
    text-align: center;
    padding-bottom: 40px;
}

.titlepage span {
    color: #0e0f10;
    font-size: 17px;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 0px;
    display: block;
    margin-top: 15px;
}
.about {
    position: relative;
    
    
}
.row-about {
    display: flex;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 30px 5px 0px 5px;
}

.container-about {
    padding-top: 50px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
div {
    display: block;
}

.titlepage h1 {
    float: left;
    margin-top: -50px;
    padding: 10px 28px;
    margin-left: -35px;
    color: #0a4668;
    font-size: 25px;
    font-weight: 600;
}
h1{
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    font-family: inherit;
    padding: 0 0 10px 0;
    line-height: normal;
    color: #000;
    margin: 0;
}