
.Card{
    width:inherit;
    height:15rem;
    margin-bottom: 25px; 
    display: flex;
}

.Card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.Card-body{
    padding: 2rem 0 !important;
}

.card-Title, .card-Text, .card-Subtitle{
    font-size:0.9rem;
    padding:0.4rem 1.9rem;
    color:black;
}

.Container-fluid{
    padding-top:3rem;
    
}

.overflow{
    overflow:hidden;
}

.card-img-top{
    transform:scale(1);
    transition: transform 0.5s ease;   
}

.card-img-top:hover{
    transform:scale(1.2);
}





